* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
}

h2 {
  display: inline-block;
  padding: 20px 0px;
  font-size: 4rem;
  font-family: "Kumbh Sans", "sans-serif";
  color: #58545a;
}

.title-element {
  display: inline-block;
  width: 35px;
  height: 5px;
  border-radius: 40px;
  background-color: #b95cdd;
}

.btn {
  padding: 10px 20px;
  font-size: 1.8em;
  border-radius: 8px;
  border: 2px solid #b95cdd;
  background-color: white;
  color: #58545a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  color: white;
  background-color: #b95cdd;
}
.btn:hover a {
  color: white;
}

.nav-container__bars-btn {
  position: absolute;
  right: 30px;
  display: none;
  margin-right: 0;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #b95cdd;
  cursor: pointer;
}
.nav-container__bars-btn .bar {
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-image: linear-gradient(90deg, hsl(281, 92%, 29%) 0%, hsl(281, 89%, 33%) 17%, hsl(281, 87%, 36%) 34%, hsl(282, 84%, 39%) 48%, hsl(282, 81%, 42%) 60%, hsl(282, 78%, 45%) 69%, hsl(282, 76%, 49%) 77%, hsl(283, 73%, 52%) 84%, hsl(283, 70%, 55%) 90%, hsl(283, 68%, 58%) 95%, hsl(283, 65%, 61%) 100%);
}
.nav-container__bars-btn .first-bar {
  width: 40%;
  transition: 0.5s;
}
.nav-container__bars-btn .second-bar {
  width: 70%;
  transition: 0.5s;
}
.nav-container__bars-btn .fa-xmark {
  font-size: 50px;
  color: white;
}

.nav-container__bars-btn:hover .first-bar {
  width: 100%;
}
.nav-container__bars-btn:hover .second-bar {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
}

@keyframes moveLink {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}
@keyframes move-small-circle {
  0% {
    left: 400px;
    top: 20px;
  }
  25% {
    left: 700px;
    top: -100px;
  }
  50% {
    left: 1000px;
    top: 20px;
  }
  75% {
    left: 1200px;
    top: -100px;
  }
  100% {
    left: 400px;
    top: 20px;
  }
}
@keyframes move-big-circle {
  0% {
    left: -300px;
    top: 100px;
  }
  25% {
    left: -90px;
    top: 200px;
  }
  75% {
    left: -300px;
    top: 200px;
  }
  100% {
    left: -300px;
    top: 100px;
  }
}
@keyframes typing {
  0% {
    left: 0;
  }
  7% {
    left: 95%;
    margin: 0 -10px 0 30px;
  }
  100% {
    left: 95%;
    margin: 0 -10px 0 30px;
  }
}
@keyframes tipingborder {
  0% {
    border-left: none;
  }
  100% {
    border-left: 4px solid #b95cdd;
  }
}
@keyframes move-splash {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header {
  position: relative;
  padding: 10% 10% 10% 15%;
  width: 100%;
  height: 85vh;
  background-color: white;
  overflow: hidden;
}
.header__title-first-text {
  font-size: 6em;
  font-family: "Kumbh Sans", "sans-serif";
  color: #58545a;
}
.header__title-sec-text {
  position: relative;
  margin-left: 15px;
  font-size: 6em;
  color: #b95cdd;
  font-family: "Kumbh Sans", "sans-serif";
  text-shadow: 0 0 5px #b95cdd;
}
.header__title-sec-text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 600px;
  height: 75px;
  background-color: white;
  border-left: 4px solid #b95cdd;
  animation: tipingborder 1s infinite, typing 12s steps(14) infinite alternate;
}
.header__text {
  position: relative;
  width: 70%;
}
.header__small-title {
  font-size: 3em;
  font-family: "Kumbh Sans", "sans-serif";
}
.header__small-title-element {
  display: inline-block;
  width: 35px;
  height: 5px;
  border-radius: 40px;
  background-color: #b95cdd;
}
.header__title {
  font-size: 6rem;
}
.header__discription {
  font-size: 1.8em;
  max-width: 60%;
  font-family: "Kumbh Sans", "sans-serif";
}
.header__cv-btn {
  margin: 20px 20px 0 0;
}
.header__contact-btn a {
  text-decoration: none;
}
.header__circle-img-big {
  position: absolute;
  left: -300px;
  top: 220px;
  height: 550px;
  width: 550px;
  border-radius: 50%;
  background-image: linear-gradient(40deg, hsl(255, 88%, 44%) 0%, hsl(258, 86%, 45%) 15%, hsl(261, 83%, 47%) 27%, hsl(264, 82%, 49%) 37%, hsl(266, 79%, 51%) 45%, hsl(269, 77%, 53%) 53%, hsl(272, 74%, 54%) 61%, hsl(275, 72%, 56%) 70%, hsl(278, 70%, 58%) 79%, hsl(280, 68%, 60%) 89%, hsl(283, 65%, 61%) 100%);
  animation: move-big-circle 20s linear infinite;
}
.header__circle-img-small {
  position: absolute;
  left: 400px;
  top: 20px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-image: linear-gradient(40deg, hsl(283, 65%, 61%) 0%, hsl(280, 68%, 60%) 15%, hsl(278, 70%, 58%) 27%, hsl(275, 72%, 56%) 37%, hsl(272, 74%, 54%) 45%, hsl(269, 77%, 53%) 53%, hsl(266, 79%, 51%) 61%, hsl(264, 82%, 49%) 70%, hsl(261, 83%, 47%) 79%, hsl(258, 86%, 45%) 89%, hsl(255, 88%, 44%) 100%);
  animation: move-small-circle 50s linear infinite;
}
.header__splash-img {
  position: absolute;
  z-index: 200;
  top: 100px;
  left: 1000px;
  width: 700px;
  height: 700px;
  filter: invert(51%) sepia(53%) saturate(3349%) hue-rotate(245deg) brightness(90%) contrast(91%);
  animation: move-splash 5s infinite;
}
.header__scroll-icon {
  position: absolute;
  z-index: 300;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  filter: invert(35%) sepia(4%) saturate(754%) hue-rotate(236deg) brightness(85%) contrast(82%);
}

@media (max-width: 364px) {
  .header {
    padding: 3% 8% 8% 8%;
  }
  .header__small-title {
    font-size: 2.1rem;
  }
  .header__title-first-text {
    font-size: 3.5rem;
  }
  .header__title-sec-text {
    font-size: 3.5rem;
  }
  .header__discription {
    margin-top: 10px;
    font-size: 1.6rem;
    max-width: 100%;
  }
  .header__text {
    margin: 0 auto;
    width: 100%;
  }
  .header__title-sec-text::before {
    height: 50px;
    display: none;
  }
  .header__cv-btn {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .header__contact-btn a {
    font-size: 1.6rem;
  }
  .header__circle-img-small {
    display: none;
  }
  .header__scroll-icon {
    bottom: 1px;
    width: 55px;
    height: 55px;
  }
}
@media (min-width: 365px) and (max-width: 576px) {
  .header__small-title {
    font-size: 2.5rem;
  }
  .header__title-first-text {
    font-size: 4rem;
  }
  .header__title-sec-text {
    font-size: 4rem;
  }
  .header__discription {
    margin-top: 10px;
    font-size: 2rem;
    max-width: 100%;
  }
  .header__text {
    margin: 0 auto;
    width: 100%;
  }
  .header__title-sec-text::before {
    height: 50px;
    display: none;
  }
  .header__cv-btn {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .header__contact-btn a {
    font-size: 2rem;
  }
  .header__circle-img-small {
    display: none;
  }
  .header__scroll-icon {
    bottom: 1px;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .header__small-title {
    font-size: 3.5rem;
  }
  .header__title-first-text {
    font-size: 4.5rem;
  }
  .header__title-sec-text {
    font-size: 4.5rem;
  }
  .header__discription {
    margin-top: 10px;
    font-size: 2.5rem;
    max-width: 80%;
  }
  .header__splash-img {
    display: none;
  }
  .header__text {
    margin: 0 auto;
    width: 100%;
    top: 100px;
  }
  .header__title-sec-text::before {
    height: 60px;
  }
  .header__cv-btn {
    font-size: 2.2rem;
  }
  .header__contact-btn a {
    font-size: 2.2rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header__small-title {
    font-size: 3rem;
  }
  .header__title-first-text {
    font-size: 5rem;
  }
  .header__title-sec-text {
    font-size: 5rem;
  }
  .header__discription {
    margin-top: 10px;
    font-size: 2rem;
    max-width: 70%;
  }
  .header__splash-img {
    display: none;
  }
  .header__text {
    top: 100px;
    left: 140px;
    width: 100%;
  }
  .header__title-sec-text::before {
    height: 75px;
  }
}
@media (min-width: 1025px) and (max-width: 1300px) {
  .header__small-title {
    font-size: 2.5rem;
  }
  .header__title-first-text {
    font-size: 4rem;
  }
  .header__title-sec-text {
    font-size: 4rem;
  }
  .header__discription {
    font-size: 1.5rem;
    max-width: 60%;
  }
  .header__splash-img {
    top: 150px;
    left: 600px;
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .header__splash-img {
    top: 200px;
    left: 600px;
    width: 700px;
    height: 700px;
  }
  .header__discription {
    font-size: 2.5rem;
    max-width: 70%;
  }
  .header__cv-btn {
    font-size: 2.5rem;
  }
  .header__contact-btn a {
    font-size: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .header__splash-img {
    top: 100px;
    left: 1200px;
    width: 700px;
    height: 700px;
  }
}
.nav {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15vh;
}
.nav .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}
.nav .nav-container__logo {
  display: flex;
  font-size: 2.5em;
}
.nav .nav-container__logo-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #b95cdd;
}
.nav .nav-container__logo-text {
  margin-left: 10px;
  font-weight: bold;
  font-family: "Kumbh Sans", "sans-serif";
}
.nav .nav-container__links {
  display: flex;
  transition: all 0.5s;
}
.nav .nav-container__links li {
  margin: 0 30px;
  list-style: none;
}
.nav .nav-container__links li a {
  font-family: "Kumbh Sans", "sans-serif";
  text-decoration: none;
  font-size: 2em;
  color: #58545a;
}
.nav .nav-container__social-icons {
  display: none;
  font-size: 3em;
}
.nav .nav-container__social-icons .fa-brands {
  margin: 0 10px;
}
.nav .nav-container .show-menu {
  right: 0;
}

@media (min-width: 992px) {
  .nav .nav-container__social-icons {
    display: flex;
  }
}
@media (max-width: 992px) {
  .nav .nav-container {
    justify-content: space-between;
  }
  .nav .nav-container__logo {
    margin-left: 30px;
  }
  .nav .nav-container__bars-btn {
    display: flex;
  }
  .nav .nav-container__links {
    position: fixed;
    top: 0;
    right: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #b95cdd;
  }
  .nav .nav-container__links li {
    position: relative;
    margin: 30px;
  }
  .nav .nav-container__links li a {
    font-size: 3em;
    color: #fff;
  }
  .nav .nav-container__links li::before {
    content: "";
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 3px solid #fff;
  }
  .nav .nav-container__links a:hover li::before {
    width: 100px;
  }
}
.about-me {
  width: 100%;
  padding: 3%;
}
.about-me__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: #58545a 0px 5px 15px;
}
.about-me__img {
  width: 30%;
  height: 40vh;
}
.about-me__info {
  width: 50%;
  height: 40vh;
}
.about-me__title-in-container {
  margin-bottom: 10px;
  font-size: 3rem;
  font-family: "Kumbh Sans", "sans-serif";
  color: #58545a;
}
.about-me__text {
  font-size: 1.8rem;
  max-width: 70%;
  font-family: "Kumbh Sans", "sans-serif";
  color: #58545a;
}
.about-me__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 2rem;
  font-family: "Kumbh Sans", "sans-serif";
}
.about-me__contact-container .fa-solid {
  margin-right: 10px;
  color: #b95cdd;
}
.about-me__contact-phone {
  margin: 10px 0;
}
.about-me__my-interests-box {
  display: inline-block;
  margin-right: 20px;
  font-size: 2rem;
  font-family: "Kumbh Sans", "sans-serif";
}
.about-me__my-interests-box .fa-solid {
  margin-right: 5px;
  color: #b95cdd;
}

.time-line-section {
  width: 100%;
  padding: 3%;
}
.time-line-section__time-line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.time-line-section__elements {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.time-line-section__element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  padding: 20px 40px;
  width: 400px;
  border: 1px solid #b95cdd;
  border-radius: 20px;
  transition: all 0.5s;
}
.time-line-section__element p {
  font-size: 2rem;
}
.time-line-section__element::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: #b95cdd;
  border-radius: 50%;
}
.time-line-section__element:nth-child(even) {
  align-self: flex-end;
  transform: translateX(400px);
}
.time-line-section__element:nth-child(even)::after {
  left: -31px;
}
.time-line-section__element:nth-child(odd) {
  transform: translateX(-400px);
}
.time-line-section__element:nth-child(odd)::after {
  right: -31px;
}
.time-line-section__element:nth-child(7) {
  border: 1px solid #3E0DD2;
}
.time-line-section__element:nth-child(8) {
  border: 1px solid #3E0DD2;
}
.time-line-section__element:nth-child(7)::after {
  background-color: #3E0DD2;
}
.time-line-section__element:nth-child(8)::after {
  background-color: #3E0DD2;
}
.time-line-section__elements::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 5px;
  height: 100%;
  background-image: linear-gradient(180deg, hsl(283, 65%, 61%) 0%, hsl(280, 68%, 60%) 47%, hsl(278, 70%, 58%) 60%, hsl(275, 72%, 56%) 69%, hsl(272, 74%, 54%) 74%, hsl(269, 77%, 53%) 79%, hsl(266, 79%, 51%) 84%, hsl(264, 82%, 49%) 88%, hsl(261, 83%, 47%) 92%, hsl(258, 86%, 45%) 96%, hsl(255, 88%, 44%) 100%);
}
.time-line-section .fa-brands {
  margin-right: 20px;
  font-size: 3rem;
  color: #b95cdd;
}
.time-line-section__element-text {
  font-size: 2.5rem;
  font-family: "Kumbh Sans", "sans-serif";
  color: #58545a;
}
.time-line-section__redux-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  filter: invert(18%) sepia(99%) saturate(3237%) hue-rotate(252deg) brightness(75%) contrast(130%);
}
.time-line-section .fa-arrow-down {
  font-size: 3rem;
  margin-right: 20px;
  color: #3E0DD2;
}/*# sourceMappingURL=style.css.map */