.contact {
	margin-top: 50px;
	padding: 3%;

	&__container {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	&__small-title-element {
		background-color: $second-color;
	}
	&__info-box {
		width: 20%;
		color: $color-text;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		input,
		textarea {
			width: 70%;
			max-width: 70%;
			min-width: 70%;
			padding: 10px 20px;
			margin: 15px;
			font-size: 2rem;
			font-family: $text-font;
			color: $color-text;
			border: none;
			border-bottom: 2px solid $second-color;
		}
		input:focus,
		textarea:focus {
			outline: none;
		}
	}
	&__btn-send-message {
		padding: 10px 20px;
		margin-top: 20px;
		width: 30%;
		border: 2px solid $second-color;
		background-color: white;
		font-size: 1.8rem;
		color: $color-text;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
			rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.5s;
	}
	&__btn-send-message:hover {
		color: white;
		background-color: $second-color;
	}
	&__info-box {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 45%;
	}
	&__telephone,
	&__email,
	&__location {
		display: flex;
		align-items: center;
		font-family: $text-font;
	}
	&__number-title,
	&__email-title,
	&__location-title {
		font-size: 2.5rem;
		font-weight: bold;
	}
	&__number-text,
	&__email-text,
	&__location-text {
		font-size: 1.5rem;
	}
	&__icon-box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgba($color: $second-color, $alpha: 1);
		
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
			rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		.fa-solid {
			font-size: 2.5rem;
			color: $white;
		}
	}
}
@media (max-width: 767px) {
	.contact {
		&__container {
			flex-wrap: wrap;
		}
		&__info-box {
			width: 70%;
		}
		form {
			width: 100%;
		}
		&__telephone,
		&__email,
		&__location {
			margin: 20px;
		}
	}
}
