.header {
	position: relative;
	padding: 10% 10% 10% 15%;
	width: 100%;
	height: 85vh;
	background-color: white;
	overflow: hidden;

	&__title-first-text {
		font-size: 6em;
		font-family: $small-title-font;
		color: $color-text;
	}
	&__title-sec-text {
		position: relative;
		margin-left: 15px;
		font-size: 6em;
		color: $main-color;
		font-family: $small-title-font;
		text-shadow: 0 0 5px $main-color;
	}
	&__title-sec-text::before {
		content: '';
		position: absolute;

		left: 0;
		width: 600px;
		height: 75px;
		background-color: white;
		border-left: 4px solid $main-color;
		animation: tipingborder 1s infinite, typing 12s steps(14) infinite alternate;
	}

	&__text {
		position: relative;
		width: 70%;
	}
	&__small-title {
		font-size: 3em;
		font-family: $small-title-font;
	}
	&__small-title-element {
		display: inline-block;
		width: 35px;
		height: 5px;
		border-radius: 40px;
		background-color: $main-color;
	}
	&__title {
		font-size: 6rem;
	}
	&__discription {
		font-size: 1.8em;
		max-width: 60%;
		font-family: $text-font;
	}
	&__cv-btn {
		margin: 20px 20px 0 0;
	}
	&__contact-btn {
		a {
			text-decoration: none;
		}
	}

	&__circle-img-big {
		position: absolute;
		left: -300px;
		top: 220px;
		height: 550px;
		width: 550px;
		border-radius: 50%;
		background-image: linear-gradient(
			40deg,
			hsl(255deg 88% 44%) 0%,
			hsl(258deg 86% 45%) 15%,
			hsl(261deg 83% 47%) 27%,
			hsl(264deg 82% 49%) 37%,
			hsl(266deg 79% 51%) 45%,
			hsl(269deg 77% 53%) 53%,
			hsl(272deg 74% 54%) 61%,
			hsl(275deg 72% 56%) 70%,
			hsl(278deg 70% 58%) 79%,
			hsl(280deg 68% 60%) 89%,
			hsl(283deg 65% 61%) 100%
		);
		animation: move-big-circle 20s linear infinite;
	}

	&__circle-img-small {
		position: absolute;
		left: 400px;
		top: 20px;
		height: 170px;
		width: 170px;
		border-radius: 50%;
		background-image: linear-gradient(
			40deg,
			hsl(283deg 65% 61%) 0%,
			hsl(280deg 68% 60%) 15%,
			hsl(278deg 70% 58%) 27%,
			hsl(275deg 72% 56%) 37%,
			hsl(272deg 74% 54%) 45%,
			hsl(269deg 77% 53%) 53%,
			hsl(266deg 79% 51%) 61%,
			hsl(264deg 82% 49%) 70%,
			hsl(261deg 83% 47%) 79%,
			hsl(258deg 86% 45%) 89%,
			hsl(255deg 88% 44%) 100%
		);
		animation: move-small-circle 50s linear infinite;
	}
}
