.projects {
	display: flex;
	justify-content: space-evenly;

	flex-wrap: wrap;
	padding: 5%;
	width: 100%;
	.type-script-icon {
		width: 27px;
		height: 27px;
	}
	&__technologies {
		i {
			font-size: 3rem;
			margin: 5px;
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;
		margin: 50px;
		width: 300px;
		height: 500px;
		background-color: white;
		border-radius: 25px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		overflow: hidden;
	}
	&__info-container {
		padding: 4%;
		text-align: center;
	}
	&__img {
		width: 100%;
		height: 60%;
		background-size: cover;
		background-position: center;
	}
	&__img-holidays {
		background-image: url('../../portfolio-react/img-portfolio-react/website-holidays.jpg');
	}
	&__img-spa {
		background-image: url('../../portfolio-react/img-portfolio-react/spa.jpg');
		background-position-x: right;
		background-position-y: top;
	}
	&__img-pizza-app {
		background-image: url('/portfolio-react/img-portfolio-react/pizza-app-img.jpg');
	}
	&__img-social-app {
		background-image: url('/portfolio-react/img-portfolio-react/social-app-img.jpg');
	}
	&__img-folio {
		background-image: url('../../portfolio-react/img-portfolio-react/folio.jpg');
		background-position: left;
	}
	&__img-pro-gamers {
		background-image: url('../../portfolio-react/img-portfolio-react/pro-gamers.jpg');
	}
	&__img-travel-agency {
		background-image: url('../../portfolio-react/img-portfolio-react/travel-agency.jpg');
		background-position: left;
	}
	&__text {
		margin-top: 10px;
		font-size: 1.6rem;
		font-family: $text-font;
		color: $color-text;
	}
	&__link-github {
		.fa-github {
			margin: 20px 0;
			font-size: 4rem;
			color: $color-text;
		}
	}
	&__btn {
		border: 2px solid $color-text;
	}
	&__btn:hover {
		background-color: $color-text;
	}
	&__link-btn {
		text-decoration: none;
		color: $color-text;
	}
}

@media (max-width: 576px) {
	.projects {
		&__card {
			margin: 20px;
		}
	}
}
