.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// justify-content: space-evenly;

	// flex-wrap: wrap;
	padding: 5%;
	width: 100%;
	h3 {
		font-size: 2em;
		font-family: $small-title-font;
	}
	hr {
		margin: 7px 0;
	}
	.type-script-icon {
		width: 27px;
		height: 27px;
	}
	&__technologies {
		i {
			font-size: 3rem;
			margin: 5px;
		}
		.redux-icon {
			width: 27px;
			height: 27px;
			margin-right: 8px;
		}
	}
	&__card {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		z-index: 300;
		margin: 50px;
		width: 100%;
		max-width: 1000px;
		height: 350px;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 25px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		overflow: hidden;
		opacity: 1;
		animation: showProjectsAnimate 2s;
	}
	&__info-container {
		padding: 2%;
		width: 30%;
		text-align: center;
	}
	&__img {
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
	&__img-holidays {
		background-image: url('../../Img/img-projects/website-holidays.jpg');
	}
	&__img-spa {
		background-image: url('../../Img/img-projects/spa.jpg');
		background-position-x: right;
		background-position-y: top;
	}
	&__img-pizza-app {
		background-image: url('../../Img/img-projects/pizza-app-img.jpg');
	}
	&__img-social-app {
		background-image: url('../../Img/img-projects/social-app-img.jpg');
	}
	&__img-folio {
		background-image: url('../../Img/img-projects/folio.jpg');
		background-position: left;
	}
	&__img-pro-gamers {
		background-image: url('../../Img/img-projects/pro-gamers.jpg');
	}
	&__img-travel-agency {
		background-image: url('../../Img/img-projects/travel-agency.jpg');
		background-position: left;
	}
	&__text {
		margin-top: 10px;
		font-size: 1.6rem;
		font-family: $text-font;
		color: $color-text;
	}
	.bold-text {
		font-weight: bold;
	}
	&__link-github {
		.fa-github {
			margin: 20px 0;
			font-size: 4rem;
			color: $color-text;
		}
	}
	&__btn {
		margin: 0 auto;
		border: 2px solid $color-text;
	}
	&__btn:hover {
		background-color: $color-text;
	}
	&__link-btn {
		text-decoration: none;
		color: $color-text;
	}
}
.disabled-project{
	display: none;
	opacity: 0;
}
.active-project {
	display: inline-block;
	opacity: 0;
}
.show-more-projects {
	padding: 10px 20px;
	font-size: 1.8rem;
	font-family: $text-font;
	border-radius: 10px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}
@media (max-width: 992px) {
	.projects {
		&__card {
			padding-right: 20px;
		}

		&__btn {
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 768px) {
	.projects {
		&__card {
			padding-right: 0;
			flex-direction: column;
			width: 100%;
			height: auto;
		}
		&__img {
			width: 100%;
			height: 300px;
		}
		&__info-container {
			width: 100%;
		}
		&__btn {
			margin: 0 auto;
			margin-bottom: 20px;
		}
		hr {
			width: 70%;
			margin: 10px auto;
		}
	}
}
@media (max-width: 576px) {
	.projects {
		&__card {
			margin: 20px;
		}
		&__info-container {
			p {
				font-size: 1.5em;
			}
		}
		hr {
			width: 50%;
			margin: 10px auto;
		}
	}
}
