.time-line-section {
	position: relative;
	width: 100%;
	padding: 3%;
	overflow: hidden;
	&__time-line {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
	}
	&__elements {
		display: flex;
		flex-direction: column;
		list-style: none;
	}
	&__element-text-my-position {
		margin-left: 10px;
		font-size: 2.5rem;
		font-family: $text-font;
		color: $color-text;
		animation: my-position-animation 1s infinite;
	}
	&__element {
		position: relative;
		z-index: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 35px 0;
		padding: 15px 30px;
		width: 350px;
		border: 1px solid $main-color;
		border-radius: 15px;
		background-color: white;
		transition: all 0.5s;
		p {
			font-size: 2rem;
		}
	}
	// &__more-info {
	// 	position: absolute;
	// 	top: 10px;
	// 	right: 10px;
	// 	padding: 3px 7px;
	// 	border: 1.5px solid black;
	// 	border-radius: 50%;
	// 	cursor: pointer;
	// 	.fa-info {
	// 		font-size: 10px;
	// 	}
	// }
	// &__more-info-container {
	// 	position: absolute;
	// 	z-index: 500;
	// 	bottom: 50px;
	// 	right: -10px;
	// 	width: 300px;
	// 	padding: 10px;
	// 	border: 1px solid black;
	// 	background-color: white;
	// 	opacity: 0;
	// }
	// &__more-info:hover &__more-info-container {
	// 	opacity: 1;
	// }
	&__element::after {
		content: '';
		position: absolute;
		top: calc(50% - 10px);
		width: 20px;
		height: 20px;
		background-color: $main-color;
		border-radius: 50%;
	}
	&__element:nth-child(even) {
		align-self: flex-end;
		transform: translateX(1400px);
	}
	&__element:nth-child(even)::after {
		left: -56px;
	}
	&__element:nth-child(odd) {
		transform: translateX(-1400px);
	}
	&__element:nth-child(odd)::after {
		right: -56px;
	}

	&__element:nth-child(7) {
		border: 1px solid $second-color;
	}
	&__element:nth-child(8) {
		border: 1px solid $second-color;
	}
	&__element:nth-child(7)::after {
		background-color: $second-color;
	}
	&__element:nth-child(8)::after {
		background-color: $second-color;
	}
	&__element:nth-child(9)::after {
		background-color: $second-color;
	}
	&__element:nth-child(9) {
		border: 1px solid $second-color;
	}

	&__elements::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		display: block;
		width: 5px;
		height: 100%;
		background-image: linear-gradient(
			180deg,
			hsl(283deg 65% 61%) 0%,
			hsl(280deg 68% 60%) 35%,
			hsl(278deg 70% 58%) 47%,
			hsl(275deg 72% 56%) 55%,
			hsl(272deg 74% 54%) 61%,
			hsl(269deg 77% 53%) 66%,
			hsl(266deg 79% 51%) 72%,
			hsl(264deg 82% 49%) 77%,
			hsl(261deg 83% 47%) 84%,
			hsl(258deg 86% 45%) 91%,
			hsl(255deg 88% 44%) 100%
		);
	}
	.fa-brands {
		margin-right: 20px;
		font-size: 3rem;
		color: $main-color;
	}
	&__element-text {
		font-size: 2rem;
		font-family: $text-font;
		color: $color-text;
	}
	&__redux-icon,
	&__type-script-icon {
		width: 30px;
		height: 30px;
		margin-right: 20px;
		filter: invert(18%) sepia(99%) saturate(3237%) hue-rotate(252deg)
			brightness(75%) contrast(130%);
	}
	.fa-arrow-down {
		font-size: 3rem;
		margin-right: 20px;
		color: $second-color;
	}
	&__square {
		position: absolute;
		z-index: 200;
		top: 200px;
		left: 50px;
		width: 150px;
		height: 150px;
		border: 5px solid $main-color;
		border-radius: 20px;
		animation: time-line-square 30s linear infinite;
	}
}
@media (max-width: 996px) {
	.time-line-section {
		display: none;
	}
}
