.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: -1px;
  left: -50px;
  transform: skew(45deg);
  overflow: hidden;
}
.white-block-right {
  top: -1px;
  right: -50px;
  transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #1755e7;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6rem 2em;
}

@media (min-widt: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    font-size: 8em 2em;
  }
}
@media (min-widt: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    font-size: 10em 2em;
  }
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  z-index: 100;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 26px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.5s;
  background-image: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
  z-index: 90;
}
.nav--active {
  transform: translate(0);
}
.nav__item {
  position: relative;
  display: block;
  color: #fff;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  text-decoration: none;
}
.nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform: scaleY(0);
  transition: transform 0.3s;
}
.nav__item:hover::before {
  transform: scaleY(1);
}

@-webkit-keyframes navItemAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navItemAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-item-animation {
  -webkit-animation: navItemAnimation 1s both;
          animation: navItemAnimation 1s both;
}

.black-bars-colors,
.black-bars-colors::after,
.black-bars-colors::before {
  color: #2e2e2e;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/header-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
  font-weight: 300;
}
.header__text {
  font-size: 1.4rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  background: #fff;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

.dreams__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.dreams__img {
  width: 100%;
  margin-bottom: 1em;
}
.dreams__title {
  margin-bottom: 0.5em;
}
.dreams__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/hero-img-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero-img__title {
  font-family: "Dancing Script", cursive;
  font-size: 6rem;
  margin-bottom: 1rem;
}
.hero-img__text {
  padding: 1em 0;
}

.islands__card {
  position: relative;
  margin: 1em 0;
  height: 450px;
  color: #fff;
  text-align: center;
  perspective: 800px;
}
.islands__card:hover .islands__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.islands__card:hover .islands__card-info {
  transform: rotateY(0);
  opacity: 1;
}
.islands__card-img {
  padding: 2em;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.islands__card-img--first {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url("../img/palm.jpg");
}
.islands__card-img--second {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/boat.jpg");
}
.islands__card-img--third {
  background-image: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75)), url("../img/water.jpg");
}
.islands__card-img-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.islands__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
}
.islands__card-img-info i {
  margin-right: 1rem;
}
.islands__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-image: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
  opacity: 0;
  transform: rotateY(-180deg);
  transition: 1s;
}
.islands__card-info-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.2em;
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.islands__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.islands__card-info-list-item {
  padding: 1rem;
  border-bottom: 1px solid #fff;
  font-size: 1.4rem;
}
.islands__card-info-list-item:last-child {
  border-bottom: none;
}
.islands__card-info-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2em;
  padding: 1em;
  border-radius: 8px;
  width: 80%;
  border: none;
  background-color: #00ffaa;
  cursor: pointer;
}
.islands__card-info-btn::before {
  background-color: #0fe29c;
}

.offers {
  position: relative;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/maledivy-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.offers .section-heading {
  color: #fff;
}
.offers__option {
  margin: 4em 2rem;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
  background-color: #fff;
  overflow: hidden;
}
.offers__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.offers__option-img:hover {
  transform: scale(1.1);
}
.offers__option-info {
  padding: 2em;
  text-align: center;
}
.offers__option-info-heading {
  margin-bottom: 1em;
  font-size: 2.4rem;
  font-weight: 300;
}
.offers__option-info-text {
  margin-bottom: 1em;
  font-size: 1.3rem;
  -moz-columns: #2e2e2e;
       columns: #2e2e2e;
}
.offers__option-info-btn {
  margin-top: 1em;
  padding: 0.8em;
  width: 100%;
  color: #fff;
  background-color: #1755e7;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.offers__option-info-btn::before {
  background-color: #164dcc;
}

.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
}
.reviews__box .fas {
  font-size: 2rem;
}
.reviews__box-text {
  padding: 1em;
}
.reviews__box strong {
  padding: 1em;
}
.reviews__box img {
  position: absolute;
  top: -30px;
  left: 60%;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.contact {
  position: relative;
  background-color: #eee;
  overflow: hidden;
}
.contact .white-block-left {
  background-color: #2e2e2e;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form-input {
  font-size: 1.7rem;
  border: none;
  height: 3rem;
  border-radius: 5px;
}
.contact__form-label {
  padding: 0.3em 0;
  text-transform: uppercase;
}
.contact__form-textarea {
  max-width: 1200px;
  font-size: 1.7rem;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 0.5em 1em;
  margin-top: 1em;
  width: 25%;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  background-color: #1755e7;
  color: #fff;
  cursor: pointer;
}
.contact__form-top {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 2em;
  color: #fff;
  background-color: #2e2e2e;
  overflow: hidden;
}
.footer p {
  font-weight: 300;
}
.footer__bottom {
  text-align: center;
}
.footer li {
  padding: 0.3em;
  list-style: none;
}
.footer hr {
  position: relative;
  left: -200px;
  margin: 1em 0;
  width: 200%;
  padding: 0;
}
.footer .footer__boxes {
  display: flex;
  flex-direction: column;
}
.footer .footer__boxes .footer__box {
  margin: 3em 0;
}
.footer .footer__boxes .footer__box-first {
  max-width: 50%;
}
.footer .footer__boxes .footer__box-title {
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 2rem;
}
.footer .footer__boxes .footer__box-title i {
  margin-right: 1em;
}
.footer .footer__boxes .footer__box-icons {
  display: flex;
  max-width: 50%;
  cursor: pointer;
}
.footer .footer__boxes .footer__box-icons i {
  font-size: 3rem;
  padding: 1em 0.5em;
}

@media (min-width: 576px) {
  .dreams__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .dreams__box-text {
    width: 55%;
  }
  .dreams__box-text--right {
    text-align: right;
  }
  .dreams__box-img {
    width: 40%;
  }
  .dreams__box-img--right {
    order: 1;
  }
  .dreams__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .offers__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offers__option-img {
    width: 50%;
    height: auto;
  }
  .offers__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .offers__option-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .dreams__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2rem;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__title {
    font-size: 9rem;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
  .islands__cards {
    display: flex;
    justify-content: center;
    flex: wrap;
  }
  .islands__card {
    margin: 1em;
    width: 45%;
  }
  .footer .footer__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 40px;
    right: 40px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/header-big.jpg");
  }
  .header__heading {
    font-size: 10rem;
  }
  .header__text {
    font-size: 2.6rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .dreams__box {
    margin: 5em 0;
  }
  .dreams__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .dreams__box-text {
    font-size: 2.2rem;
  }
  .dreams__title {
    font-size: 3rem;
  }
  .hero-img {
    padding: 40rem 2em;
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/hero-img-big.jpg");
  }
  .hero-img__title {
    font-size: 8rem;
  }
  .hero-img__text {
    font-size: 2.5rem;
  }
  .islands__cards {
    display: flex;
    justify-content: center;
    flex: wrap;
  }
  .islands__card {
    margin: 1em;
    width: 45%;
  }
  .offers {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/maledivy-big.jpg");
  }
  .offers__option-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
  }
  .offers__option-info-title {
    font-size: 2rem;
  }
  .offers__option-info-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  .islands__card {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */