// ----barsBtn----

.nav-container__bars-btn {
	position: absolute;
	right: 30px;
	display: none;
	margin-right: 0;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	border: 1px solid $main-color;
	cursor: pointer;
	.bar {
		height: 5px;
		width: 100%;
		border-radius: 30px;
		background-image: linear-gradient(
			90deg,
			hsl(281deg 92% 29%) 0%,
			hsl(281deg 89% 33%) 17%,
			hsl(281deg 87% 36%) 34%,
			hsl(282deg 84% 39%) 48%,
			hsl(282deg 81% 42%) 60%,
			hsl(282deg 78% 45%) 69%,
			hsl(282deg 76% 49%) 77%,
			hsl(283deg 73% 52%) 84%,
			hsl(283deg 70% 55%) 90%,
			hsl(283deg 68% 58%) 95%,
			hsl(283deg 65% 61%) 100%
		);
	}
	.first-bar {
		width: 40%;
		transition: 0.5s;
	}
	.second-bar {
		width: 70%;
		transition: 0.5s;
	}
	.fa-xmark {
		font-size: 50px;
		color: white;
	}
}
.nav-container__bars-btn:hover {
	.first-bar {
		width: 100%;
	}
	.second-bar {
		width: 100%;
	}
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
}

// ----animation-nav-links----

@keyframes moveLink {
	0% {
		right: -500px;
	}
	100% {
		right: 0;
	}
}

// ----animation-header-circles----
@keyframes move-small-circle {
	0% {
		left: 400px;
		top: 20px;
	}
	25% {
		left: 700px;
		top: -100px;
	}
	50% {
		left: 1000px;
		top: 20px;
	}
	75% {
		left: 1200px;
		top: -100px;
	}
	100% {
		left: 400px;
		top: 20px;
	}
}
@keyframes move-big-circle {
	0% {
		left: -300px;
		top: 220px;
	}

	25% {
		left: -90px;
		top: 420px;
	}
	75% {
		left: -300px;
		top: 420px;
	}

	100% {
		left: -300px;
		top: 220px;
	}
}
// ----animation-header-tiping----
@keyframes typing {
	0% {
		left: 0;
	}
	7% {
		left: 95%;
		margin: 0 -10px 0 30px;
	}
	100% {
		left: 95%;
		margin: 0 -10px 0 30px;
	}
}
@keyframes tipingborder {
	0% {
		border-left: none;
	}
	100% {
		border-left: 4px solid $main-color;
	}
}

// ----animation-splash----
@keyframes move-splash {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}
